<ion-header>
  <ion-toolbar>
    <ion-title>
      <h2>Créez RDV</h2>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding" id="loginDiv">
    <ion-button btnWide (click)="backPage($event)">
      Page précédente
    </ion-button>
    <br>
    <br>
    <img src="\assets\icon\demarretastory.jpg" alt="DemarreTaStory">
    <h2 class="ios title-ios hydrated">Remplissez les champs ci-dessous et confirmez</h2>

    <form (submit)="createRdv($event)">
      <ion-list ng-app="myApp">
        <ion-select type="text" id="classe" name="classe" (ionChange)="onSelectChange($event)"
          placeholder="Selectionnez la classe" class="inputBox" #classe>
          <ion-select-option *ngFor="let classe of classes; let i = index" [value]="">{{ classe.classe }}
          </ion-select-option>
        </ion-select>
        <br>
        <ion-select type="text" id="name" name="name" placeholder="Selectionnez l'étudiant'" class="inputBox" #name>
          <ion-select-option *ngFor="let name of names" [value]="">{{ name.nom }} </ion-select-option>
        </ion-select>
        <br>
        <ion-datetime id="date" displayFormat="YYYY-MMM-DD" min="2019-01-01" max="2050-12-09" placeholder="Date de réunion"></ion-datetime>
        <br>
        <ion-datetime type="time" id="time" displayFormat="HH:mm" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" placeholder="Debut de réunion" #time>
        </ion-datetime>
        <br>
        <ion-datetime type="time" id="timeEnd" displayFormat="HH:mm" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" placeholder="Fin de réunion" #timeEnd>
        </ion-datetime>
        <br>
        <ion-select type="text" id="lieu" name="lieu" placeholder="Selectionnez le campus'" class="inputBox" #lieu>
          <ion-select-option *ngFor="let lieu of lieux" [value]="">{{ lieu.campus }} </ion-select-option>
        </ion-select>
        <br>
        <input type="submit" class="dateBtn" value="CONFIRMEZ">
        <br>
        <ion-button class="logout" color="danger" (click)="logout()">
          Quitter l'application
        </ion-button>
      </ion-list>
    </form>
  </div>
</ion-content>