.inputBox {
    border: 1px solid rgb(69, 69, 69);
    color: rgb(69, 69, 69);
    height: 40px;
  }

::placeholder{
    color: rgb(69, 69, 69);
}

ion-title,
.dateBtn {
  background-color: #304C8B;
  color: #f4f4f4;
}