<ion-header>
  <ion-toolbar>
    <ion-title>
      <h2>Cours du Jour</h2>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <body ng-app="myApp">
    <div class="ion-padding" id="coursList">
      <ion-button btnWide (click)="backPage($event)">
        Page précédente
      </ion-button>
      <br>
      <br>
      <img src="\assets\icon\demarretastory.jpg" alt="DemarreTaStory">
      <br>
      <br>
      <ion-list>
        <ion-card padding *ngFor="let cour of planning; let i = index">
          <h2>{{ cour.cours }}</h2>
          <h3>{{ cour.theme }}</h3>
          <p>Intervenant: {{ cour.intervenant_name }}</p>
          <p>Debut AM: {{ cour.debut_am }}</p>
          <p>Fin AM: {{ cour.fin_am }}</p>
          <p>Debut PM: {{ cour.debut_pm }}</p>
          <p>Fin PM: {{ cour.fin_pm }}</p>
          <p>Date: {{ cour.date }}</p>
          <p>Lieux: {{ cour.lieux }}</p>
          <p>Adresse: {{ cour.adresse }}</p>
        </ion-card>
      </ion-list>
      <br>
      <ion-button class="logout" color="danger" (click)="logout()">
        Quitter l'application
      </ion-button>
    </div>
  </body>
</ion-content>