ion-button {
  width: 100%;
  text-align: center;
  font-size: 14px;
  background-color: #304c8b;
  color: #f4f4f4;
}

.last {
  display: hidden;
}

ion-title,
.dateBtn {
  background-color: #304C8B;
  color: #f4f4f4;
}

ion-card {
  background-color: #33B6C5;
}